.guestDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.guestDashboard h2 {
  font-size: var(--title-size);
  font-weight: var(--subtitle-weight);
  color: var(--bg-color);
  margin-bottom: 32px;
  text-align: center;
}

.guestButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.guestButtons button {
  background-color: var(--background-color);
  font-size: var(--subtitle-size);
  border-radius: 30px;
  border: 1px solid var(--neutral-color);
  padding: 24px;
  display: inline-block;
  margin-block: 32px;
  text-align: center;
  width: 130%;
  max-width: 500px;
  box-sizing: border-box;
  white-space: nowrap;
}

.guestButtons button:active {
  background-color: var(--neutral-color);
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.guestButtons button.active {
  background-color: var(--accent-color);
  color: var(--neutral-color);
}

.subtitle {
  background-color: var(--accent-color);
  font-size: var(--title-size);
  font-weight: var(--subtitle-weight);
  border-radius: 30px;
  padding: 10px 24px;
  display: inline-block;
  margin-bottom: 32px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}
