:root {
  --max-size: 34px;
  --title-size: 28px;
  --subtitle-size: 24px;
  --text: 18px;
  --subtitle-weight: 500;
  --bg-color: #333;
  --neutral-color: #fff;
  --border-color: #b0b0b0;
  --background-color: #ffb366;
  --accent-color: #279dd8;
  --fields: #ffe6cc;
  --hint: #00ff00;
  --bg-role: #43dafb;
  --color-text: #0047ab;
  --color-button1: #276dff;
  --color-button2: #b3b3b3;
  --engineer-color: #ffff99;
  --all-role-color: #ccccff;
}
