.role {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px; 
}

.buttonGroup {
  display: flex;
  flex-direction: column;  
  gap: 60px;               
  width: 100%;              
  max-width: 300px;   
}

.buttonGroup button {
  padding: 10px 24px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--bg-color);
  font-size: var(--title-size);
  font-weight: var(--subtitle-weight);
  border-radius: 30px; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.buttonGroup button:active {
  background-color: var(--neutral-color);
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttonGroup button.active {
  background-color: var(--accent-color);
  color: var(--neutral-color);
  border-color: var(--border-color);
}

.buttonGroup button.active:hover {
  background-color:var(--accent-color);
  border-color: var(--border-color);
}